# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
ehthumbs.db

# Logs
*.log

# Other
tmp/
